<h2>Controller Examples</h2>

<div ng-controller="FirstController" 
	style="border: 3px solid red; padding: 10px">
	Name: <input ng-model="name">
	
</div>
<hr />
<div ng-controller="SecondController"
 	style="border: 3px solid green; padding: 10px">
	Name: <input ng-model="name">
</div>

<hr />
<div ng-controller="ThirdController as vm">
	Name: <input ng-model="vm.person.name"> {{ vm.person.name }}
	Title: <input ng-model="vm.person.title"> {{ vm.person.title }}
	street: <input ng-model="vm.person.address.street"> {{ vm.person.address.street }}
</div>